$block-color: rgba(0, 0, 0, 0.39);
$text-color: rgb(206, 206, 206);

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body,
html {
    color: $text-color;
    background-color: rgb(32, 32, 32);
    font-family: "Open Sans", sans-serif;
    height: 1300px;
}

img {
    max-height: 200px;
    width: auto;
}

.content {
    display: grid;
    grid-template: auto 1fr 400px;
    grid-template-areas:
        "header"
        "main"
        "footer";

    header {
        background-color: $block-color;
        font-size: 25px;
        padding: 30px 20px 30px 0;
        text-align: right;
        grid-area: header;
    }

    main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 40% 60%;
        grid-template-areas: "form section";

        form {
            grid-area: form;
            display: grid;
            padding: 10px;

            label {
                font-size: 17px;
                margin: 10px 0 10px 0;
            }

            input {
                padding: 10px;
                border-radius: 5px;
                font-size: 13px;
                background-color: rgb(90, 90, 90);
            }
            input::placeholder {
                color: rgb(196, 196, 196);
            }
        }

        section {
            grid-area: section;
            display: grid;
            height: 500px;
            background-color: rgb(90, 90, 90);
        }
    }

    footer {
        grid-area: footer;
    }
}
