@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body,
html {
  color: #cecece;
  background-color: #202020;
  font-family: "Open Sans", sans-serif;
}

img {
  width: auto;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  display: -ms-grid;
  display: grid;
  grid-template: auto 1fr 400px;
      grid-template-areas: "header" "main" "footer";
}

.content header {
  background-color: rgba(27, 27, 27, 0.925);
  font-size: 25px;
  padding: 30px 20px 30px 0;
  text-align: right;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.content main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 35% minmax(10%, 60%);
      grid-template: 1fr/35% minmax(10%, 60%);
      grid-template-areas: "form section";
}

.content main form {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 2% 10% 2%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content main form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content main form label {
  height: auto;
  font-size: 17px;
  margin: 0 0 12px 0;
}

.content main form input {
  padding: 10px 0 10px 15px;
  border-radius: 5px;
  font-size: 13px;
  background-color: #5a5a5a;
}

.content main form input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.content main form input:-ms-input-placeholder {
  color: #c4c4c4;
}

.content main form input::-ms-input-placeholder {
  color: #c4c4c4;
}

.content main form input::placeholder {
  color: #c4c4c4;
}

.content main form .button > input {
  display: block;
  width: 50%;
  color: #111111;
  background-color: silver;
}

.content main .gallery__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 250px 250px;
  -ms-grid-columns: 1fr 22% 1fr;
      grid-template: 250px 250px / 1fr 22% 1fr;
      grid-template-areas: "info-image first-image first-image" "second-image second-image third-image";
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.content main .gallery__info {
  background: url("../img/works-info.png") 0 0/cover no-repeat;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info-image;
}

.content main .gallery__image-first {
  background: url("../img/works-image.png") 0 0/cover no-repeat;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: first-image;
}

.content main .gallery__image-second {
  background: url("../img/works-image(1).png") 0 0/cover no-repeat;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: second-image;
}

.content main .gallery__image-third {
  background: url("../img/works-image(2).png") 0 0/cover no-repeat;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: third-image;
}

.content footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: rgba(27, 27, 27, 0.925);
  padding: 30px 20px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content footer li:not(:first-child) {
  margin-top: 10px;
}

.content footer .date {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */