@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body,
html {
  color: #cecece;
  background-color: #202020;
  font-family: "Open Sans", sans-serif;
}

img {
  width: auto;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  display: -ms-grid;
  display: grid;
  grid-template: auto 1fr 400px;
      grid-template-areas: "header" "main" "footer";
}

.content header {
  background-color: rgba(27, 27, 27, 0.925);
  font-size: 25px;
  padding: 30px 20px 30px 0;
  text-align: right;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.content main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 40% minmax(10%, 60%);
      grid-template: 1fr/40% minmax(10%, 60%);
      grid-template-areas: "form section";
}

.content main form {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 2% 10% 2%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content main form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content main form label {
  height: auto;
  font-size: 17px;
  margin: 0 0 12px 0;
}

.content main form input {
  padding: 10px 0 10px 15px;
  border-radius: 5px;
  font-size: 13px;
  background-color: #5a5a5a;
}

.content main form input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.content main form input:-ms-input-placeholder {
  color: #c4c4c4;
}

.content main form input::-ms-input-placeholder {
  color: #c4c4c4;
}

.content main form input::placeholder {
  color: #c4c4c4;
}

.content main form .button > input {
  display: block;
  width: 50%;
  color: #111111;
  background-color: silver;
}

.content main .gallery__inner {
  border-radius: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: section;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  background-color: #5a5a5a;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  padding: 15px;
  margin: 10px 10px 10px 0;
}

.content main .gallery__inner .gallery__image img {
  width: 100%;
  height: auto;
}

.content main .gallery__inner .gallery__image:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.content main .gallery__inner .gallery__image:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.content main .gallery__inner .gallery__image:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.content main .gallery__inner .gallery__image:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.content footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: rgba(27, 27, 27, 0.925);
  padding: 30px 20px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content footer li:not(:first-child) {
  margin-top: 10px;
}

.content footer .date {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */